<footer>
  <div class="container">
    <div class="row">
      <div class="col">
        <p>KONSULT Centrum Szkolenia i Doradztwa</p>
        <p>ul. Powstańców Śląskich 52a/2</p>
        <p>53-333 Wrocław</p>
        <p>tel.: 71/735 80 60</p>
        <p>fax.: 71/735 80 68</p>
        <p>NIP: 884-223-90-07</p>
        <p class="pull-left">email: </p>
        <address>konsult@konsult.edu.pl</address>
      </div>
      <div class="col">
        <p class="pull-right">Masz pytania lub chciałbyś zamówic szkolenie?</p>
        <br></br>
        <p class="pull-right"><a href="http://konsult.edu.pl/kontakt/" class="btn btn-primary pull-right">Skontaktuj się z nami</a><p>
      </div>
    </div>
  </div>
</footer>


<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

<script type="text/javascript" src="/assets/javascript/user.js"></script>
