<header>
<% if (req != undefined && req != null) { %>
  <div class="container">
    <div class="navbar navbar-default">
      <div class="container">
        <h1><a href="/"><img class="pull-left" src="/assets/images/logo.jpg" alt="Konsult &#8211; Centrum szkolenia i doradztwa"></a></h1>
        <ul class="nav justify-content-end">
          <li id="nav-link" class="nav-link"><a href="/o-firmie" >O firmie</a></li>
				  <li id="nav-link" class="nav-link"><a href="/oferta" >Oferta</a></li>
					<li id="nav-link" class="nav-link"><a href="/list" >Aktualne szkolenia</a></li>
					<li id="nav-link" class="nav-link"><a href="/mylist" >Moje szkolenia</a></li>
					<li id="nav-link" class="nav-link"><a href="/account" >Moje dane</a></li>
          <li id="nav-link" class="nav-link"><a href="/logoutPage" >Wyloguj</a></li>
        </ul>
      </div>                   
    </div>
  </div>
<% } else { %>
  <div class="container">
    <div class="navbar navbar-default">
      <div class="container">
        <h1><a href="/"><img class="pull-left" src="/assets/images/logo.jpg" alt="Konsult &#8211; Centrum szkolenia i doradztwa"></a></h1>
        <ul class="nav justify-content-end">
          <li id="nav-link" class="nav-link"><a href="/o-firmie" >O firmie</a></li>
				  <li id="nav-link" class="nav-link"><a href="/oferta" >Oferta</a></li>
					<li id="nav-link" class="nav-link"><a href="/szkolenia" > Szkolenia </a></li>
					<li id="nav-link" class="nav-link"><a href="/praca" >Praca</a></li>
					<li id="nav-link" class="nav-link"><a href="/loginPage" >Zaloguj</a></li>
					<li id="nav-link" class="nav-link"><a href="/registerPage" >Zarejestruj</a></li>
        </ul>
      </div>                   
    </div>
  </div> 
 <% } %>
 </header>