<header>

  <div class="container">
    <div class="navbar navbar-default">
      <div class="container">
        <h1><a href="/"><img class="pull-left" src="/assets/images/logo.jpg" alt="Konsult &#8211; Centrum szkolenia i doradztwa"></a></h1>
        <ul class="nav justify-content-end">
          <li id="nav-link" class="nav-link"><a href="/conferences" >Aktualne szkolenia</a></li>
				  <li id="nav-link" class="nav-link"><a href="/lastconfernces" >Archiwalne szkolenia</a></li>
					<li id="nav-link" class="nav-link"><a href="/employers" >Pracownicy</a></li>
          <li id="nav-link" class="nav-link"><a href="/logoutPage" >Wyloguj</a></li>
        </ul>
      </div>                   
    </div>
  </div>
  
 </header>