<header>
<% if (req != undefined && req != null) { %>
    <div class="navbar navbar-default">

        <h1><a href="/"><img class="pull-left" id="logo" src="/assets/images/logo.jpg" alt="Konsult &#8211; Centrum szkolenia i doradztwa"></a></h1>
        <input type="checkbox" id="chk">
        <label for="chk" class="show-menu-btn">
            <i class="fas fa-ellipsis-h"></i>
        </label>
        <ul class="nav justify-content-center">
          <li id="nav-link" class="nav-link"><a href="/o-firmie" > <b>O firmie</b></a></li>
          <li id="nav-link" class="nav-link"><a href="/list" > <b>Aktualne szkolenia</b></a></li>
          <li id="nav-link" class="nav-link"><a href="/mylist" > <b>Moje szkolenia</b></a></li>
          <li id="nav-link" class="nav-link"><a href="/account" > <b>Moje dane</b></a>  </li>
          <li id="nav-link" class="nav-link"><a href="/logoutPage" > <b>Wyloguj</b></a></li>
            <label for="chk" class="hide-menu-btn">
                <i class="fas fa-times"></i>
            </label>
        </ul>
      </div>

  
<% } else { %>

    <div class="navbar navbar-default">

        <h1><a href="/"><img class="pull-left" id="logo" src="/assets/images/logo.jpg" alt="Konsult &#8211; Centrum szkolenia i doradztwa"></a></h1>
        <input type="checkbox" id="chk">
        <label for="chk" class="show-menu-btn">
            <i class="fas fa-ellipsis-h"></i>
        </label>
        <ul class="nav ">
          <li id="nav-link" class="nav-link"><a href="/o-firmie" > <b>O firmie</b> </a></li>
          <li id="nav-link" class="nav-link"><a href="/szkolenia" > <b>Szkolenia </b> </a></li>
          <li id="nav-link" class="nav-link"><a href="/praca" > <b>Praca</b> </a></li>
          <li id="nav-link" class="nav-link"><a href="/loginPage" > <b>Zaloguj</b></a></li>
          <li id="nav-link" class="nav-link"><a href="/registerPage" > <b>Zarejestruj</b> </a></li>
            <label for="chk" class="hide-menu-btn">
                <i class="fas fa-times"></i>
            </label>
        </ul>
      </div>


 <% } %>
 </header>