<!DOCTYPE html>
<html lang="pl-PL">
<head>

  <% include ../partials/head %> 
  <title> Konsult &#8211; Centrum szkolenia i doradztwa    </title>
    
</head>

<% include ../partials/header %>

<main>
        <div class="slider">
                            <img class="index-woman" src="/assets/images/index_woman.png" alt="" />
                        <img class="index-header" src="/assets/images/index-header.jpg" alt="header-image" />
                            <p><br>Jesteśmy firmą świadczącą usługi szkoleniowe, których celem jest aktualizacja wiedzy oraz poszerzenie umiejętności związanych z&nbsp;praktycznym stosowaniem prawa. Pomagamy być na bieżąco z&nbsp;najnowszymi zmianami dzięki cyklicznym szkoleniom organizowanym na terenie całej Polski.</p>
                
                    </div>
       <div class="container main-page">
            <div class="row main-page-title">
                <div class="col-md-9 col-lg-8 col-sm-12">
                    <h2 class="text-center"><B>Zaloguj się, aby zobaczyć aktualne szkolenia</B></h2>
                </div>
                <div class="col-md-3 col-lg-4 col-sm-12">
                    <a class="btn btn-default" href="/loginPage">Logowanie</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 main-page-desc">
                    <article id="post-58" class="post-58 page type-page status-publish hentry">
                        <div class="row">
<div class="col-md-6 col-lg-6 col-sm-6">Jesteśmy firmą specjalizującą się w organizowaniu kursów, seminariów oraz szkoleń jednodniowych z zakresu najnowszych przepisów prawa.  Na polskim rynku szkoleń działamy od 2003 roku a nasze szkolenia są dostępne na terenie całego kraju.  Jako firma o ugruntowanej pozycji słyniemy z wysokiej jakości oferowanych usług.</div>
<div class="col-md-6 col-lg-6 col-sm-6">Dzięki współpracy z najlepszymi trenerami stwarzamy warunki do zdobycia wiedzy oraz umiejętności praktycznego stosowania prawa. Naszą podstawową metodą pracy są spotkania w formie bezpośredniego kontaktu z trenerami, którzy wykorzystują autorskie materiały szkoleniowe oraz stosują najnowsze środki audiowizualne.</div>
</div>
                    </article>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12">
                    <h3 class="text-center main-training-title">szkolenia</h3>
                </div>
            </div>
            <div class="row main-training">
                <div class="col-md-4 col-lg-4 col-sm-4">
                    <img src="/assets/images/trenerzy.png" alt="trenerzy">
                    <p class="text-center">trenerzy</p>
                    <p class="text-center">współpracujemy z najlepszymi trenerami w kraju</p>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-4">
                    <img src="/assets/images/lokalizacja.png" alt="lokalizacja">
                    <p class="text-center">lokalizacja</p>
                    <p class="text-center">zapewniamy doskonałą lokalizację naszych szkoleń</p>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-4">
                    <img src="/assets/images/obsluga-klienta.png" alt="obsluga klienta">
                    <p class="text-center">obsługa klienta</p>
                    <p class="text-center">gwarantujemy obsługę klienta na najwyższym poziomie</p>
                </div>
            </div>
        </div>
        
        <div class="container our-clients">
            <div class="row">
                <div class="col-md-8 col-lg-8 col-sm-8">
                    <h6>nasi klienci</h6>
                    <span class="trademarks">Przedstawione znaki towarowe należą do ich właścicieli i zostały użyte na stronie tylko i wyłącznie w celach informacyjnych.</span>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-4">
                    <a class="see-all pull-right" href="http://konsult.edu.pl/klienci/">zobacz wszystkich <i class="fa fa-angle-double-right"></i></a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-lg-3 col-sm-3">
                    <img src="/assets/images/universitas_medica.png" alt="universitas medica">
                </div>
                <div class="col-md-3 col-lg-3 col-sm-3">
                    <img src="/assets/images/uniwersytet_ekonomiczny.png" alt="uniwersytet ekonomiczny">
                </div>
                <div class="col-md-3 col-lg-3 col-sm-3">
                    <img src="/assets/images/auchan.png" alt="auchan">
                </div>
                <div class="col-md-3 col-lg-3 col-sm-3">
                    <img src="/assets/images/cermag.png" alt="cermag">
                </div>
            </div>
        </div>
    </main>
  
  <% include ../partials/footer %>

</body>
</html>