<!DOCTYPE html>
<html lang="pl-PL">
<head>

	<% include ../partials/head %> 
	 <title> Logowanie </title>

</head>
<body>
<% include ../partials/header %>

<main>
<% if(error == true && email == true){ %>
									<div class="alert alert-danger role="alert">Nieprawidlowy email</div>
									<% } %> 
<% if(error == true && password == true){ %>
									<div class="alert alert-danger role="alert">Niepoprawne haslo</div>
									 <% } %>

<div class="slider">
                            <img class="index-woman" src="/assets/images/index_woman.png" alt="" />
                        <img class="index-header" src="/assets/images/index-header.jpg" alt="header-image" />
                         <p> LOGOWANIE </p>
							<form method="POST" action="/login">
							<div class="form-group-email">
									<label for="email" >E-Mail: 
									<input id="email" type="email" class="form-control" name="email" required></label>
									<% if(error == 'true' && email == 'true'){ %>
									<div class="alert alert-danger role="alert">Nieprawidlowy email</div>
									<% } %> 
								</div>
								

							<div class="form-group-pass">
									<label for="password"> Has³o:
									<input id="password" type="password" class="form-control" name="password" required data-eye></label>
									<% if(error == 'true' && password == 'true'){ %>
									<div class="alert alert-danger role="alert">Niepoprawne haslo</div>
									 <% } %>
								</div>

								

								 <div class="form-group m-0">
									<button type="submit" class="btn btn-primary btn-block">
										Zaloguj
									</button>
								</div>
								
								</form>
				</div>






<% include ../partials/error %>
</main>
<% include ../partials/footer %>
<<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="js/user.js"></script>
</body>
</html>