<!DOCTYPE html>

<html lang="pl" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>
        Rejestracja
    </title>
    <meta charset="UTF-8">
    <% include ../partials/head %>

</head>

<body>
    <% include ../partials/header %>
    <main>
        <form method="POST" action="/register">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-xl-9 mx-auto">
                        <div class="card card-signin flex-row my-5">
                            <div class="card-img-left d-none d-md-flex">
                            </div>

                            <div class="card-body">
                                <h2> Rejestracja </h2>
                                <div class="form-group">
                                    <label for="name">
                                        Imię i nazwisko
                                        <input id="name" type="text" class="form-control" name="name" required autofocus>
                                    </label>
                                    <div class="invalid-feedback">
                                        Jak się nazywasz?
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="email">
                                        E-Mail
                                        <input id="email" type="email" class="form-control" name="email" required>
                                    </label>
                                    <div class="invalid-feedback">
                                        Nieprawidlowy email
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="password">
                                        Hasło
                                        <input id="password" type="password" class="form-control" name="password" required data-eye>
                                    </label>
                                    <div class="invalid-feedback">
                                        Niepoprawne hasło
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="custom-checkbox custom-control">
                                        <input type="checkbox" name="agree" id="agree" class="custom-control-input" required="">
                                        <label for="agree" class="custom-control-label">Akceptuje <a href="#">regulamin</a></label>
                                        <div class="invalid-feedback">
                                            Akceptuj zgodę
                                        </div>
                                    </div>
                                </div>




                                <div class="form-group m-0">
                                    <button type="submit" class="btn btn-primary btn-block">
                                        Zarejestruj
                                    </button>
                                </div>
        </form>
        <div class="mt-4 text-center">
            Masz juz konto? <a href="/loginPage">Zaloguj się</a>
        </div>
        </div>


        </div>
        </div>
        </div>
        </div>

    </main>
    <% include ../partials/error %>
    </div>
    <% include ../partials/footer %>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="js/user.js"></script>
</body>
</html>