<!DOCTYPE html>

<html lang="pl" xmlns="http://www.w3.org/1999/xhtml">
<head>
 
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/jquery.bxslider.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link href="/fontawesome/css/all.css" rel="stylesheet">
</head>
<body>
    <br />
    <div class="container">
        <h1><img class="pull-left" src="../../public/assets/images/logo.jpg" alt="Konsult &#8211; Centrum szkolenia i doradztwa"></h1>
        <h3 class="text-center">Zgłosznie na szkolenie</h3>
        <br />
        <div class="row">
            <div class="col-2"> 
                <h5> Temat:</h5>
                <h5> Data i miejsce: </h5>
            </div>
            <div class="col-8">
                <h5> {{event.topic}} </h5>
                <h5> {{event.date}},{{event.city}},{{event.hotel}}</h5>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-2">
                <h5>Uczestnicy:</h5>
            </div>
            <div class="col-8">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Imię </th>
                            <th>Nazwisko</th>
                            <th>Stanowisko</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each users}}
                        <tr>
                            <th>{{this.imie}}</th>
                            <th>{{this.nazwisko}}</th>
                            <th>{{this.stanowisko}}</th>
                        </tr>
                       {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
   

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- jQuery library -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    <!-- Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- Latest compiled JavaScript -->
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/node_modules/bootstrap/js/dist/util.js"></script>

    <script type="text/javascript" src="/assets/javascript/user.js"></script>

</body>
</html>