<!DOCTYPE html>

<html lang="pl" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Zapisywanie</title>
	<% include ../../partials/head %>

</head>
<body>

<% include ../../partials/header %>

<div class="container">
  <img class="index-header-my" src="/assets/images/index-header-my.jpg" alt="header-image" />
  <t class="text-center">ZGŁOSZENIE NA SZKOLENIE</t>
  <h4> </h4>
<tbody>
  <div class="card"> 
	 <h5 class="card-header text-center">  <%= tabresult[0].topic %> </h5>
	 <div class="card-body">
		<h6 class="card-title"><i class="fas fa-table"></i>  <%=tabresult[0].date %> </h6>
		
		<h6 class="card-title"> <i class="fas fa-map-marker-alt"></i> <%=tabresult[0].city %>, Hotel <%=tabresult[0].hotel %></h6>
	</div>
  </div>
  <div class="card">
  <h5 class="card-header text-center">Uczestnicy </h5>
  <div class="card-body" id="tbl" >
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="inputCity">Imię</label>
      <input type="text" class="form-control" id="inputCity">
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">Nazwisko</label>
	  <input type="text" class="form-control" id="inputCity">
    </div>
    <div class="form-group col-md-4">
      <label for="inputZip">Stanowisko</label>
      <input type="text" class="form-control" id="inputZip">
    </div>
  </div>
    </div>
</div>
 
<input type="submit" class="button add_another" value="Add another line"/>
</tbody>
</div>
<% include ../../partials/footer %>

<script>
$('document').ready(function() {
  $('.add_another').click(function() {
      $("#tbl").append('<tr><td><input type="text" class="txtbox" value="" />  </td><td><input type="text" class="txtbox" value="" /></td><td><input type="text" class="txtbox" value="" /></td></tr>');
   });
})
</script>

</body>

</html>