<!DOCTYPE html>

<html lang="pl" xmlns="http://www.w3.org/1999/xhtml">
<head>

    <% include ../../partials/head %>
    <title> Logowanie </title>

</head>

<body>
    <% include ../../partials/header-manager %>

	<div class="container" >
        <% if(error == true && email == true){ %>
        <div class="alert alert-danger role="alert">Nieprawidłowy email</div>
        <% } %>
        <% if(error == true && password == true){ %>
        <div class="alert alert-danger role="alert">Niepoprawne hasło</div>
        <% } %>
	
		<tbody>
        <div class="card mt-4" style="width: 700px; left: 20%;" >
            <div class="card-body">
				
				<div class="row align-items-center ">
				<div class="col-6 text-center">
				<img src="/assets/images/index_woman.png" alt="" style=" max-height: 80%; max-width: 80%;" />
				</div>
					<div class="col-6 text-center">
					<h3 id="title" align="center"> Logowanie</h3>
					<form method="POST" action="/login-worker">
                <br>
                
                    <label for="email">
                        <input id="email" type="email" class="form-control" name="email" placeholder="Wpisz E-mail" style="width:300px;" required>
                    </label>
                

                <br>
               
                    <label for="password">
                        <input id="password" type="password" class="form-control" name="password" placeholder="Wpisz Hasło" style="width:300px;" required data-eye>
                    </label>
              



                <div class="form-group">
                    <button type="submit" id="but" >
                        Zaloguj
                    </button>
                </div>

            </form>
        </div>
        </div>
        </div>
        </div>
        </div>
		 


        <% include ../../partials/error %>
    </main>
    <% include ../../partials/footer %>
    <
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>